h1,
h2,
h3,
p {
  font-family: Helvetica;
}

header h1 {
  background-image: url("./assets/pattern.png");
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

.item h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.price {
  font-weight: bold;
  color: blue;
}

#brushes {
  background-color: mediumspringgreen;
}

#frames {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}
