.grid {
  border: 2px solid dodgerblue;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  min-height: 500px;
  grid-gap: 1rem;
  align-items: stretch;
}

.box {
  background-color: beige;
  border-radius: 5px;
  border: 1px solid blue;
}

.a,
.b,
.c,
.d,
.e,
.f,
.g {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-template: 150px / 1fr;
    min-height: 1000px;
    grid-gap: 1rem 0;
  }
}
